/* Coucou toi qui regarde dans le code


/‾‾‾‾‾\ /‾‾‾‾‾] [‾‾‾‾‾‾‾‾] |‾‾‾‾‾] |‾‾‾‾‾\ |‾‾‾‾‾\ |‾| /‾/
| |‾| | | |‾‾‾   ‾‾|  |‾‾  | |‾‾‾  |     | |     | | |/ /
| | | | | |        |  |    |  ___] |     / |     / |  _/
| |_| | | |___     |  |    | |___  | |\ \  | |\ \  | |
\_____/ \_____]    |__|    |_____] |_| \_\ |_| \_\ |_|
MADE ON EARTH BY HUMANS */

/*  */
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

html,
body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
}

header {
    display: flex;
    justify-content: center;
    
    h1 {
        font-family: "Handlee";
        font-weight: 200;
        font-size: 30px;
    }
}

main {
    display: flex;
    flex-direction: column;

    width: clamp(10px, 100vw, 50vh);
    min-height: 80vh;
    max-height: 100%;
    margin-right: auto;
    margin-left: auto;

    /* border: 1px solid #000; */

    h2 {
        font-family: "Instrument Sans";
        font-weight: 300;
        font-size: 15px;
        color: #000;

        margin-left: 20px;
        margin-bottom: 0;
    }
}

#settings_button {
    position: fixed;
    top: 20px;
    right: 20px;

    width: 30px;
    fill: #676767;
}

.cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 50px;
    padding: 5px 10px;
    margin: 2px;

    background-color: #fff;
    border: 3px solid #699C65;
    border-radius: 20px;

    h1 {
        font-family: "Instrument Sans";
        font-weight: 200;
        font-size: 20px;
        color: #000;
    }

    h3 {
        font-family: "Instrument Sans";
        font-weight: 200;
        font-size: 15px;
        color: #699C65;
        margin-top: -15px;
    }

    img {
        width: 40px;
    }
}

.dead.cell {
    border: 3px solid #9C6566;
    background-color: #FFD8D8;

    h3 {
        color: #9C6566;
    }

    img {
        filter: invert(49%) sepia(6%) saturate(2668%) hue-rotate(308deg) brightness(86%) contrast(84%);

    }
}

#add_button {
    position: fixed;
    bottom: 20px;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    border: 3px solid #659C74;
    border-radius: 10px;
    padding: 5px;

    &:hover {
        cursor: pointer;
        background-color: #badac3;
        border: 3px solid #335b3e;
    }
}

#plus_button {
    width: 30px;
    fill: #659C74;
}

#edit_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: scale(0) translate(-50%, -50%);
    padding: 10px;
    width: 300px;
    max-width: 80vw;
    min-width: 30vh;

    background-color: #fff;
    box-shadow: 0 0 5px #00000090;
    border-radius: 10px;
    font-family: "Instrument Sans";

    animation-fill-mode: forwards;

    h2 {
        font-size: 15px;
        font-weight: 200;
        margin-bottom: 0;
    }

    .input {
        background-color: #49804330;
        color: #357348;
        border: none;
        border-radius: 5px;
        padding: 3px;
        box-shadow: inset 2px 2px 1px #00000030;
        width: 95%;
        transition: background-color .3s, color .3s;

        &::placeholder {
            color: #365e3280;
            transition: color .3s;
        }
    }

    .input.error {
        color: #9C6566;
        background-color: #FFD8D8;

        &::placeholder {
            color: #9C6566;
        }
    }
}

.close-cross {
    position: absolute;
    right: 10px;
    width: 17px;
    stroke: #737373;

    &:hover {
        cursor: pointer;
    }
}

.change-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    justify-self: center;

    &:hover {
        cursor: pointer;
    
        .change-icon-button {
            background-color: #00000030;
        }
    }
}

.change-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: fit-content;
    height: 30px;
    width: fit-content;
    margin-top: 5px;

    border-radius: 10px;
    background-color: #D9D9D980;

    h1 {
        font-size: 20px;
        font-weight: 300;
    }
}

.date-preference {
    display: flex;
    align-items: center;

    h3 {
        color: #357348;
        font-size: 10px;
        font-weight: 300;
        margin: 0;
    }

    .bold {
        font-size: 10px;
        font-weight: 600;
        margin: 0 2px;
    }
}

#error_place {
    display: none;
    background-color: #FFD8D8;
    border: 3px solid #9C6566;
    padding: 2px 5px;
    margin-top: 10px;
    font-size: 12px;

    color: #9C6566;
}

#submit_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    border-radius: 6px;
    border: none;
    background-color: #357348;
    color: #D0FADB;

    &:hover {
        cursor: pointer;
        background-color: #5ca271;
        color: #fff
    }
}

@keyframes popupAppear {
    0% {
        transform: scale(0) translate(-75%, -75%);
    }
    70% {
        transform: scale(1.05) translate(-50%, -50%);
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
    }
}

@keyframes popupDisappear {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }
    30% {
        transform: scale(1.05) translate(-50%, -50%);
    }
    100% {
        transform: scale(0) translate(-75%, -75%);
    }
}